---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
html {
  font-size: 12px; // originally 16px
  @include breakpoint($medium) {
    font-size: 14px; // originally 18px
  }

  @include breakpoint($large) {
    font-size: 16px; // originally 20px
  }

  @include breakpoint($x-large) {
    font-size: 18px; // originally 22px
  }
}

.page__content {
  text-align: justify;
}

.sidebar__right {
  text-align: left;
}

table {
  text-align: left;
}

.img-thumbnail {
  width: 150px;
}

.img-medium {
  width: 240px;
}

.img-large {
  width: 700px;
}

.box-top {
  vertical-align: top;
}

.box-middle {
  vertical-align: middle;
}

.box-bottom {
  vertical-align: bottom;
}


// example from https://olivermak.es/2014/10/design-better-responsive-code/

.footnote {
  border: solid 1px;
  border-radius: .125em;
  font-weight: 500;
  margin-right: .125em;
  padding: 0 .25em;
}

.footnote {
  background-color: rgba(54, 118, 161, 0.2);
  border-color: #3676a1;
  color: #3676a1;
}

.footnote:hover, .footnote:focus {
  background-color: rgba(171, 51, 43, 0.2);
  border-color: #ab332b;
  color: #ab332b;
}
